---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: home
---

<div class="main">
	<h1>Ruby is Yoma Bank’s design language system.</h1>
	<p class="lead">This comprehensive guide and resource library contains everything you’ll need to design with us,
		including our <a href="assets/yoma-bank-brand-package.zip" target="_blank">branding pack</a> (the who), <a
			href="#components">Interface components</a> (the what), the <a
			href="#principles">Responsible Vision</a> (the
		why), and a downloadable <a href="https://sketch.cloud/s/APpaY" target="_blank">Sketch library</a> (the how).
	</p>
</div>


