$color-brand-ruby-red: #ED1B34;
$color-brand-dark-red: #8B0013;
$color-brand-white: #ffffff;
$color-brand-grey-100: #F8F8F8;
$color-brand-grey-400: #999999;
$color-brand-grey-700: #333;
$color-brand-black: #000;
$color-brand-green: #48C875;
$color-brand-amber: #ffb700;
$color-success: #48C875;
$color-brand-gentle-whisper-blue: #199dd4;
$color-input-border-color: #D8D8D8 !default;
$color-default-input-text: #434243;
$color-invalid: #8B0013;
$color-input-disabled: #929497;
$color-secondary-button-bg: #f5f5f5;
$color-secondary-button-border: #f5f5f5;
$color-tertiary-button-text-color: #707070;
$color-tertiary-button-border-color: #DEDEDE;
