$base-brand-type: 'Rubik','Zawgyi-One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$brand-headline-type: 'Publico', 'Zawgyi-One', Georgia, serif;
$base-brand-mono-type: 'Apercu Mono', 'Zawgyi-One', 'Andale Mono', 'AndaleMono', Lucida Console, monospace;


//LINE HEIGHTS
$default-button-line-height: 0.21px;
$default-circle-radius: 50px;

//RADIUS
$default-input-radius: 5px;

//BORDER SIZES
$default-border-size: 2px;

//SPACES
$space-small: 18px;

//icons sizes
$base-icon-size: 22px;

//screen sizes
$tablet: 760px;
$mobile: 480px;
$xlarge: 1440px

