@charset "UTF-8";

@import "syntax-highlighting";

* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: 15px;
}

body {
	font-family: sans-serif;
}


a {
	text-decoration: none;
}

body {
	background: #f3f3f3;
}
// LAYOUTS
.doc-container	{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}


.site-content-wrapper {
	display: flex;
	flex: 1;
}

// DOC SIDEBAR
.doc-sidebar {
	width: 220px;
	background: #fff;
	position:absolute;
}

.site-content {
	flex: 1;
}


// NAVBAR
.doc-header	{

	padding: 1rem 1.5rem;
	background: #ccc;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.site-logo {
	display: inline-block;
	float: left;
}

.logo {
	max-height: 50px;
	width: 100px;
}

.site-navbar {
	display: flex;
	float: right;
	align-items: center;
	vertical-align: middle;
}

.site-nav {
	list-style-type: none;
	margin-right: 1rem;
}

.site-nav__item {
	display: inline-block;

	a {
		padding: 1rem;
		display: inline-block;
	}
}


#DoSearch {
	padding: 1rem;
}

.site-header {
	background: #f1f1f1;
}

.rd-masthead {
	padding: 12rem 0;
}