<!-- <script src="../node_modules/jquery/dist/jquery.min.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
  apiKey: 'bff061daa18a9a60d38410ada8ecdc24',
  indexName: 'yoma',
  inputSelector: '#DoSearch',
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
