<header class="doc-header">
  <a href="{{ site.baseurl}}/" class="site-logo">
    <img src="https://htmlstream.com/preview/front-v1.1/assets/svg/logos/logo.svg" class="logo" alt="">
  </a>
  <nav class="site-navbar">
    <ul class="site-nav">
      <li class="site-nav__item"><a href="{{ site.baseurl }}/" class="{% if page.layout == " home " %} active {% endif%}">Home</a></li>
      <li class="site-nav__item"><a href="{{ site.baseurl }}/docs/welcome/introduction" class="{% if page.layout == " docs " %} active {% endif%}">Docs</a></li>
    </ul>
    <form action="">
      <input type="text" id="DoSearch" placeholder="search">
    </form>
  </nav>
</header>
