<nav class="doc-sidebar">
  {% assign page_slug = page.url | split: '/' | last %}
  {% for group in site.data.nav %}
  {% assign link = group.pages | first %}
  {% assign link_slug = link.title | slugify %}
  {% assign group_slug = group.title | slugify %}
  {% assign active = nil %}

  {% if page.group == group_slug %}
  {% assign active = 'active' %}
  {% endif %}

  <div class="adf{% unless active == nil %} {{ active }} {% endunless %}">
    <ul class="nav">
      {% for doc in group.pages %}
      {% assign doc_slug = doc.title | slugify %}
      {% assign active = nil %}
      {% if page.group == group_slug and page_slug == doc_slug %}
      {% assign active = 'active active-now' %}
      {% endif %}
      <li{% unless active== nil %} class="{{ active }}" {% endunless %}>
        <a href="{{ site.baseurl }}/docs/{{ site.docs_verion}}{{ group_slug }}/{{doc_slug}}">{{ doc.title}}</a>
        {% comment %}
        {% unless doc.sections == nil %}
        <ul class="nav-2">
          {% for section in doc.sections %}
          <li>
            <a href="#{{ section.title | downcase | replacce: '', '-' }}">
              {{section.title}}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endunless %}
        {% endcomment %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</nav>