
.rds-u-content__divider {
    padding: 5rem;
    display: block;
    border: none;
    position: relative;
    overflow: hidden;

    &:after{
        content: '';
        height: 1px;
        background: rgba($color-brand-grey-700, .2);
        left: 0;
        right: 0;
        position: absolute;

    }
}

.rds-text-title__caps{
  text-transform: uppercase;
}

.rds-assistive-text {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important;
}


//WIDTHS
.rds-w-10 {
  max-width: 10%;
  width: 100%;
}
.rds-w-20 {
  max-width: 20%;
  width: 100%;
}
.rds-w-30 {
  max-width: 30%;
  width: 100%;
}
.rds-w-40 {
  max-width: 40%;
  width: 100%;
}
.rds-w-50 {
  max-width: 50%;
  width: 100%;
}

.rds-w-60 {
  max-width: 60%;
  width: 100%;
}
.rds-w-70 {
  max-width: 70%;
  width: 100%;
}

.rds-w-80 {
  max-width: 80%;
  width: 100%;
}

.rds-w-90 {
  max-width: 90%;
}

.rds-w-100 {
  width: 100%;
}
