/**
 * @name CARDS
 * @selector .rds-card
 * @restrict buttons, link buttons, text buttons
 **/
.rds-card {
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
    margin: 20px 0;
    display: inline-block;

    &__title {
        color: $color-brand-black;
    }

    &__content {
        color: rgba($color-brand-black, .54);
    }

    &[data-content-align="center"] {
        text-align: center;
    }

    &[data-content-align="left"] {
        text-align: left;
    }

    &[data-content-align="right"] {
        text-align: right;
    }
}
