.rds-label {
  padding: 0 .5rem;
  font-weight: 500;
  font-size: 10px;
  vertical-align: bottom;
  @include border-radius(3px);
  border: 1px solid rgba($color-brand-black, .1);
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;

  &__warning {
    background: $color-brand-amber;
    color: $color-brand-white;
  }

  &-has-icon {
    padding-left: 33px;

    .rds-icon__cont {
      left: 10px;
      top: 50%;
      margin-top: -0.8rem;
    }
  }

  &__info {
    background: $color-brand-gentle-whisper-blue;
    color: $color-brand-white;
  }

  &__success {
    background: $color-success;
    color: $color-brand-white;
  }

  .rds-icon__cont {
    margin-right: 10px;
    * {
      vertical-align: middle;
      font-size: 13px;
      line-height: 13px;
      vertical-align: middle;
    }
  }
}

.rds-icon__cont {
  display: inline-block;
  position: absolute;
}
