/**
 * @name RADIO BUTTONS
 * @selector .rds-radio_button
 * @restrict forms, input, radios,
 * @variables settings.colours, settings.variables
 **/


.rds-radio--group {
  display: inline;

  .rds-radio__button {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
.rds-radio__button {
  display: inline-flex;
  align-items: center;
  @include button;
  min-width:120px;


  .rds-radio-button__label {
    @include button;
    border: $default-border-size solid $color-input-border-color;
    @include border-radius(5px);
    @include button-size(0px, 15px, 0px, 40px);
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  .rds-radio-button__icon {
    color: $color-default-input-text;
    min-width: $base-icon-size;
    min-height: $base-icon-size;
    width: $base-icon-size;
    height: $base-icon-size;
    @include border-radius($default-circle-radius);
    border: $default-border-size solid $color-input-border-color;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: {
      top: auto;
      right: 20px;
      bottom: auto;
      left: 10px;
    }
    text-align: center;
    line-height: $base-icon-size;

    > * {
      font-size: 14px;
      color: $color-input-border-color;
      font-weight: bold;
      display: none;

    }
  }


  [type="radio"] {
    @include square(1px);
    position: absolute;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);

    &:checked + .rds-radio-button__label,
    &:checked + .rds-radio-button__label{
      color: $color-brand-white;
      background: $color-brand-ruby-red;
      @include border-color(transparent);
    }

    &:checked + .rds-radio-button__label .rds-radio-button__icon {
      background: $color-brand-white;
      @include border-color($color-brand-ruby-red);

      > * {
        color: $color-brand-ruby-red;
        display: inline-block;

      }
    }

    &:focus {

    }


    &:disabled {
      + .rds-radio-button__label {
          cursor: not-allowed;
          color: lighten($color-input-disabled, 20%);
        border-color: rgba($color-input-border-color, .5);
      }
    }
  }
}

.rds-radio-button {
  display: inline-flex;
  transition: all .3s ease-in-out;

  &[data-radio-type="radio-button-b2b"] {

    .rds-radio_label {
      padding: 0 1rem;
      border: 1px solid $color-input-border-color;
      @include border-radius(3px);
      cursor: pointer;
    }

    .rds-form-element__label {
      display: inline;
      font-weight: 500;
      color: $color-brand-grey-700;
    }

    [type="radio"] {
      &:checked {
        + .rds-radio_label {
          border-color: darken($color-input-border-color, 10%);
        }

        + .rds-radio_label .rds-radio_icon {
          background: $color-brand-ruby-red;
            &:after {
              background: $color-brand-white;
              width: 40%;
              height: 40%;
            }
        }
      }
    }
  }
}

[data-radio-type="radio-button-b2b"] + [data-radio-type="radio-button-b2b"]{
  margin-left: 1rem;
}
