/**
 * @name BUTTONS
 * @selector .rds-button
 * @restrict buttons, link buttons, text buttons
 **/

@mixin button-size($top, $right, $bottom, $left) {
  padding: {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}

$default-button-padding: 0 2rem;

@mixin button {
  position: relative;
  text-decoration: none;
  line-height: 2.8rem;
  @include appearance(none);
  white-space: normal;
  padding: 0;
  color: $color-default-input-text;
  cursor: pointer;
  @include border-radius(50px);
  font-weight: 500;
  user-select: none;
  background: transparent;
  min-width: 100px;
}

@mixin gentle-quick($prop, $time, $behavior) {
  -webkit-transition: $prop $time $behavior;
  -moz-transition: $prop $time $behavior;
  -ms-transition: $prop $time $behavior;
  -o-transition: $prop $time $behavior;
  transition:  $prop $time $behavior;
}

.rds-button {
  @include button;
  @include gentle-quick(all, .2s, ease-in-out);

  &__brand  {
    background: $color-brand-ruby-red;
    color: $color-brand-white;
    border: 0;
    border: 2px solid $color-brand-ruby-red;
    padding: $default-button-padding;

    &:hover {
      color: $color-brand-white;
      background: darken($color-brand-ruby-red, 5%);
      border-color: darken($color-brand-ruby-red, 5%);
    }

  }

  &__secondary {
    color: $color-brand-black;
    background: $color-secondary-button-bg;
    border: 2px solid $color-tertiary-button-border-color;
    //padding: .5rem 1.5rem;
    padding: $default-button-padding;

    &:hover {
      background: darken($color-secondary-button-bg, 5%);
      border-color: darken($color-secondary-button-bg, 5%);
    }
  }

  &__ghost {
    background: transparent;
    color: $color-tertiary-button-text-color;
    border: 2px solid $color-tertiary-button-border-color;
    padding: $default-button-padding;

    &:hover {
      border-color: lighten($color-tertiary-button-text-color, 20%);
    }
  }

  &__text {
    color:$color-brand-gentle-whisper-blue;
  }

  .rds-icon__cont {
    vertical-align: middle;
    position: static;
    margin-right: 10px;
  }


  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: 0;
  }


  &[disabled] {
    cursor: not-allowed;

    * {
      pointer-events: none;
    }
  }

}

// ICON BUTTONS
.rds-button {
  &__icon {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    border: 0;
    line-height: 1;
  }
}

// WIDTHS
.rds-button {
  &__width--100 {
    width: 100%;
    display: block;
    text-align: center;
  }
}
