/**
 * @name RADIOS
 * @selector .rds-radio .rds-radio_icon
 * @restrict forms, input, radios,
 * @variables settings.colours, settings.variables
 **/


.rds-radio {
  position: relative;
  display: block;
  line-height: 0;


  &_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: $color-input-border-color;
    @include border-radius(50%);
    margin-right: 8px;
    vertical-align: middle;
    position: relative;
    transition: all 0.3s cubic-bezier(0,.6,.45,.81);

    &:after {
      content: '';
      width: 80%;
      height: 80%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: $color-brand-white;
      @include border-radius(50%);
    }

  }

  [type="radio"] {
    &:checked {
      + .rds-radio_label .rds-radio_icon{
        background: $color-brand-ruby-red;

        &:after {
          width: 40%;
          height: 40%;
        }
      }

      + .rds-radio_label,
      + .rds-radio_label .rds-form-element__label {
        color: $color-brand-grey-700;
      }
    }
  }

  .rds-form-element__label {
    color: $color-brand-grey-700;
    display: inline;
    font-weight: 500;
  }
}

.rds-radio_label {
}
.rds-radio--default {
  display: inline-flex;
  align-items: center;
  @include button;
  min-width:120px;


  .rds-radio-default__label {
    @include button;
    @include border-radius(5px);
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: {
      top: 10px;
      bottom: 10px;
    }
  }

  .rds-radio-default__icon {
    color: $color-default-input-text;
    min-width: $base-icon-size;
    min-height: $base-icon-size;
    width: $base-icon-size;
    height: $base-icon-size;
    @include border-radius($default-circle-radius);
    border: $default-border-size solid $color-input-border-color;
    margin: {
      top: auto;
      right: 10px;
      bottom: auto;
      left: 0;
    }

    text-align: center;
    line-height: $base-icon-size;

    > * {
      font-size: 14px;
      color: $color-input-border-color;
      font-weight: bold;
    }
  }

  .rds-radio-default__text {
    pointer-events: none;
  }


  [type="radio"] {
    @include square(1px);
    position: absolute;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);

    &:checked + .rds-radio-default__label,
    &:checked + .rds-radio-default__label .rds-radio-default__text {
      display: none;
    }

    &:focus {

    }


    &:disabled {
      + .rds-radio-default__label {
          cursor: not-allowed;
          color: $color-input-disabled;
        border-color: rgba($color-input-border-color, .5);
      }
    }
  }
}
