
/**
 * @name base
 * @selector .rds-dropdown
 * @restrict buttons, link buttons, text buttons
 * @variables objects.forms, settings.colours

 **/

.rds-dropdown__control {
  background: #fff;
  position: relative;
  @include border-radius(5px);
}
.rds-dropdown {
  color: darken($color-input-border-color, 40%);
  display: block;
  border: 2px solid $color-input-border-color;
  width: 100%;
  padding:{
    top: .8rem;
    right: 1.2rem;
    bottom: .8rem;
    left: 1.2rem;
  }
  cursor: pointer;

  &__faux {
    pointer-events: none;
    position: absolute;
    width: 40px;
    height: 24px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &:focus, &:active {
      border-color: $color-brand-gentle-whisper-blue;
  }
}
