/**


 * @name INPUT FORMS
 * @selector .rds-form-element, .rds-form-element__control, .rds-form-element__label, .rds-input
 * @restrict inputs, forms
 * @variables objects.forms, settings.colours, settings.variables


 **/

.rds-form-element {

  &__label, label {
    color: $color-brand-black;
    margin-bottom: 8px;
    display: block;
    vertical-align: middle;
    font-weight: normal;
  }


  &__control {

  }

  &__help {
    background: $color-brand-gentle-whisper-blue;
    color: $color-brand-white;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 2px solid darken($color-brand-gentle-whisper-blue, 10%);
    font-weight: 600;
    padding: {
      top: .5rem;
      right: 1.5rem;
      bottom: .5rem;
      left: 1.5rem;
    }
  }
}

.rds-needs-help {

  .rds-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
  }

}

.rds-input {
  display: block;
  width: 100%;
  position: relative;
  padding:{
    top: .8rem;
    right: 1.2rem;
    bottom: .8rem;
    left: 1.2rem;
  }
  @include border-radius($default-input-radius);
  border: $default-border-size solid $color-input-border-color;
  @include form-states;
  color: $color-brand-black;
  line-height: inherit;

  &-bare,
  &--bare {
    background: transparent;
    border: 0;
    padding: {
      top: 0;
      bottom: 0;
      left: 20;
    }
    color: $color-input-border-color;

    &:focus, &:active {
      outline: 0;
      border: 0;
    }
  }
}

.rds-input:invalid + .rds-form-element__label {
  color: $color-invalid;
}

.rds-input-has-icon {
  position: relative;

  .rds-input__icon {

  }
}

.rds-form-element ~ .rds-input:disabled {
  display: none;
}
