// Copyright (c) 2018, yomabank.com. All rights reserved

/**
 * @name MODAL
 * @selector .modal
 * @component BOOTSTRAP
**/

.modal-header,
.modal-footer,
.modal-body {
  padding: 0;
}

.modal {

  &-dialog {
    max-width: 500px;
  }

  &-content {
    padding: 2rem;
  }

  &-header {
    border: 0;
  }

  &-title {
    font-size: 28px;
    padding-top: 2rem;
  }

  &-body {
    padding: 2rem 0;
  }

  &-footer {
    border: 0;
    padding-top: 1rem;

    .rds-button + .rds-button {
      margin-left: .8rem;
    }
  }

  .close {
    width: 2rem;
    height: 2rem;
  }

}

.modal-content {
  box-shadow: inherit;
}

.rds-modal {
  //position: fixed;
  //left: 0;
  //top: 0;
  //width: 100%;
  //height: 100%;
  z-index: 9001;
  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    background: rgba($color-brand-black, .2);
    z-index: 0;
  }

  &__cont {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background: $color-brand-white;
    z-index: 1;
  }

  &__body {
    width: 50%;
    margin: 0 auto;

  }
}
