/**
* @name AVATARS
 * @selector .rds-avatar
 * @child .rds-avatar__avatar, .rds-avatar__has-progress
 **/

.rds-avatar {
  width: 3.47rem;
  height: 3.47rem;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  color: white;
  text-align: center;
  position: relative;

  img {
    @include border-radius(50%);
  }

  &__initial[title] {
    cursor: default;
    text-decoration: none;
    background: $color-brand-gentle-whisper-blue;
    font-weight: 700;
    display: block;
    line-height: 3.47rem;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
  }

  &__has-progress {

  }

  &__verified {
    width: 1.2rem;
    height: 1.2rem;
    @include border-radius(50px);
    background: $color-brand-green;
    position: absolute;
    bottom: 0;
    right: 0;

    * {
      line-height: 1.2rem;
      font-size: 13px;
    }
  }

  &:hover {
    text-decoration: none;

    .rds-avatar__verified {
      * {
        color: white;
        font-weight: bold;
      }
    }

  }

}
