/**
 * @name CHECKBOX
 * @selector .rds-checkbox
 * @restrict input type checkbox
 * @variables objects.forms, settings.colours, settings.variables
 **/

.rds-checkbox {
  display: block;

  .rds-form-element__label, label {
    display: inline;
    cursor: pointer;
  }

  [type=checkbox] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    cursor: pointer;



    &[disabled] {

      + .rds-checkbox__box,
      + .rds-checkbox__box,
      ~ .rds-checkbox__box,
      + .rds-checkbox__label .rds-form-element__label {
        color: lighten($color-brand-black, 80%);
      }

      + .rds-checkbox__label {
        * {
          cursor: not-allowed;
        }
      }



      + .rds-checkbox__box,
      + .rds-checkbox__box,
      ~ .rds-checkbox__box,
      + .rds-checkbox__label .rds-checkbox__box {
        background: $color-input-border-color;
      }
    }

    &:checked + .rds-checkbox__label .rds-checkbox__box {
      background: $color-brand-ruby-red;
      border-color: $color-brand-ruby-red;
      transition: all 0.3s cubic-bezier(.08,.33,.39,1.07);

      &:after {
        display: block;
      }
    }



  }

  &__box {
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid $color-input-border-color;
    display: inline-block;
    vertical-align: middle;
    @include border-radius(2px);
    position: relative;
    margin-right: .5rem;

    &:after {
      display: none;
      content: '';
      height: 0.50rem;
      width: 1.2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-47%, -79%, 0) rotate(-45deg);
      border-bottom: 3px solid $color-brand-white;
      border-left: 3px solid $color-brand-white;
    }
  }

}
