/**
 * @name COLLAPSIBLES, ACCORDIONS
 * @selector .rds-checkbox
 * @restrict accordions, open and close elements
 * @dependencies bootstrap's panels
 * @variables objects.forms, settings.colours, settings.variables

 **/

.panel {
  padding: .4rem 0;
}
.panel-title {
  display: block;
  width: 100%;
  [role='button'] {
    display: block;
    width: 100%;
    padding: 0;
    border-bottom: 2px solid $color-brand-black;
    text-align: left;
    position: relative;
    line-height: 2rem;
    transition: all 0.3s ease-in-out;
  }
  [role='button'].collapsed {
    border-bottom-color: #e2e2e2;

    .panel-control {
      transform: rotate(0deg);
    }
  }
}

.panel-control {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  transform: rotate(180deg);
  transition: all .5s ease-in-out;
}

.panel-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
//.rds-collapsible {
//
//  &__title {
//    border-bottom:2px solid $color-brand-grey-700;
//    line-height: 2.3rem;
//    position: relative;
//    cursor: pointer;
//
//    //&:after {
//    //  content: '';
//    //
//    //  position: absolute;
//    //}
//  }
//
//  &__control {
//    width: 24px;
//    height: 24px;
//    position: absolute;
//    right: 0;
//    top: 50%;
//    margin-top: -0.5rem;
//  }
//
//  &__panel {
//    max-height: 0;
//    overflow: hidden;
//  }
//}
//
//.rds-collapsible ~ .rds-collapsible {
//  margin-top: 2rem;
//}
