/* MATERIAL ICONS */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-Italic.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-MediumItalic.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-Medium.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-Regular.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-BoldItalic.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-LightItalic.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-Bold.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-Black.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-BlackItalic.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-Light.woff2') format('woff2'),
  url('../fonts/rubik/Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* PUBLICO FONTS */

@font-face {
    font-family: 'Publico';
    src: url('../fonts/publico/Publico-Bold.woff2') format('woff2'),
    url('../fonts/publico/Publico-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*  *\
=============
APERCU MONO (code snippets)
=================
\* */

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/apercu_mono/Apercu-Mono.woff2') format('woff2'),
    url('../fonts/apercu_mono/Apercu-Mono.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/*  *\
=============
ZAWGYI (MYANMAR FONT)
=================
\* */

@font-face {
    font-family: 'Zawgyi-One';
    src: url('../fonts/zawgyi/Zawgyi-One.woff2') format('woff2'),
        url('../fonts/zawgyi/Zawgyi-One.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
