@viewport { width: device-width; }

* {
  box-sizing: border-box;
}

:root{
  font-size: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: $color-brand-grey-700;
}


h1, h2 , h3 , h4 , h5, h6 {
  margin: 0;
}

h1 {
  font-size: 34px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul, li {
  margin: 0;
  padding: 0;
}

pre, code {
  font-family: $base-brand-mono-type !important;
}


img, object, svg {
  max-width: 100%;
  vertical-align: middle;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input, button, textarea, select{
  @include appearance(none);
  background: transparent;
  outline: 0;
  border: 0;

  &::placeholder {
    color: $color-brand-grey-400;
  }

}
