@mixin form-input-state-focus {
  outline: 0;
  border-color: $color-brand-gentle-whisper-blue;
}

@mixin form-input-state-invalid {
  border-color: $color-invalid;
  color: $color-invalid;

  &rds-button__brand {
    color: $color-invalid;
  }

  &:active,
  &:focus {
    box-shadow: none;
  }

}

@mixin form-input-state-disabled {
  cursor: not-allowed;
  user-select: none;
  color: $color-input-disabled;
  border-color: rgba($color-input-border-color, .5);

  &:active,
  &:focus {
    box-shadow: none;
    border-color: rgba($color-input-border-color, .5);
  }

}

@mixin form-states {
  transition: border $duration-quick linear, background-color $duration-quick linear;

  &:focus,
  &:active {
    @include form-input-state-focus;
  }

  &:disabled {
    @include form-input-state-disabled;
  }

  &:invalid {
    @include form-input-state-invalid;
  }

}

.rds-form-element {
  + .rds-input:disabled,
  + .rds-form-element__label label,
  ~ label {
    display: none;
  }
}

.rds-form-element {
  margin-bottom: 1.5rem;
  &__control {
    position: relative;
  }

  &:last-child {
    margin: 0;
  }
  &__addon {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1rem;
    text-align: right;
    font-size: 1.2rem;
    color: $color-brand-grey-400;
  }
}

.rds-form-element__control.rds-input-has-addon {
  max-width: 480px;
  width: 100%;
  height: auto;

  .rds-input {
    width: 100%;
  }
}

.rds-form {
  max-width: 750px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3.5rem;
  position: relative;
  border: 1px solid #e5e5e5;
  @include border-radius(8px);


  @media (min-width: $tablet) {

  }
}

.rds-input, .rds-dropdown__control {
  max-width: 480px;
}

.rds-form__footer--right {
  text-align: right;

  .rds-button + .rds-button {
    margin-left: 1rem;
  }
}

// DOCKET FORM
.rds-docked-form {
  &[data-form-type="b2b"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background: #F0F0F0;
    padding:3rem 5rem 2rem 5rem;

    .rds-form {
      padding: 0 0rem 5rem 0;
      border: 0;
    }

    .rds-form-group {
      padding: 2.5rem 2rem;
      background: $color-brand-white;
      margin-bottom: 20px;
      margin-top: 0;
      border: 1px solid #e5e5e5;
      @include border-radius(5px);
    }

    .rds-form-group__title {
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 10px;
      display: block;
    }

    .rds-docked-form-footer {
      position: fixed;
      left: 0;
      bottom: 0;
      text-align: center;
      z-index: 8000;
      padding: 1rem 0;
      background: $color-brand-white;
      box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.20);
      width: 100%;

      .rds-button {
        margin-left: 1rem;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}

.rds-form-group + .rds-button__text {
  margin-bottom: 20px;
}

.rds-form-group .rds-form-element .rds-form-element__control .rds-input + .rds-input {
  margin-bottom: .5rem;
  margin-top: .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .rds-docked-form {
    &[data-form-type="b2b"] {
      .rds-form-group {
        padding: 1.5rem 1rem;
      }
    }
  }
}

@media (max-width: 320px) {
  .rds-docked-form {
    &[data-form-type="b2b"] .rds-docked-form-footer {
      padding: 1rem 2rem;
      .rds-button {
        width: 100%;
        display: block;
        margin: .5rem 0;
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin: 0;
        }

      }
    }
  }
}
