
.rds-o-list {
  max-width: 46rem;

  &__item {
    margin-bottom: 1em;
    line-height: 1.9;
    position: relative;
  }

  &-type__bullet {
    list-style-type: none;

    .rds-o-list__item {
      padding-left: 1rem;

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        background: $color-brand-grey-700;
        position: absolute;
        top: .6rem;
        left: 0;
        @include border-radius(50%);
      }
    }
  }
  &-type__bare {
    list-style-type: none;
  }

  &-type__number {
    list-style-type: decimal;
    list-style-position: inside;
    .rds-o-list__item {
      padding-left: 0;
    }

  }
}
