.rds-type--display__large{
    font-size: 2.2rem;
    font-family: $brand-headline-type;
}

.ym-type--text__lead {
    font-size: 22px;
    line-height: 32px;
}

.rds-type-brand__headline,
.rds-type-brand-headline,{
  font-family: $brand-headline-type;
}
// Font weight bold
.rds-type-w-bold {
  font-weight: bold;
}

// Font weight medium
.rds-type-w-500 {
  font-weight: 500;
}

// Font weight normal
.rds-type-w-400 {
  font-weight: normal;
}

// Font weight light
.rds-type-w-300 {
  font-weight: 300;
}

h1 {
  color: $color-brand-black;
  font-size: 2.7rem;
}

h2, h3 {
  color: $color-brand-grey-700;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}



p {
  font-size: 1rem;
}

.rds-type__captalize {
  text-transform: capitalize;
}


.rds-currency {
  font-weight: 500;

  &__type,
  &-type{
    font-weight: 300;
  }
}
