<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="doc-wrap" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <h1>Dmang</h1>
      </div>
    </main>
    
    {%- include footer.html -%}
  </body>

</html>
