<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="wrap">
    {% include header.html %} {% if page.toc %}
    <div class="fuck">
      {{ content | toc_only }}
    </div>
    {% endif%}
    <div class="site-content-wrapper">
      {% include sidebar.html %}
      <div class="site-content">
        <div class="doc-container">
          <div class="site-header">
            <p class="">{{ page.description | smartify }}</p>
            <h1>{{ page.title | smartify }}</h1>
          </div>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
