<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="rd-masthead" aria-label="Content">
      <div class="doc-container">
        {{ content }}
      </div>
    </main>
    
    {%- include footer.html -%}
  </body>

</html>
